html {
  box-sizing: border-box;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscaled;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  font-size: 1.6rem;
  min-height: 100vh;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
